<% include header %>

<section class="order-status">
  <div class="inner">
    <h1>Your order was unsuccessful</h1>
    <p><%= message %></p>
    <p>Your order could not be completed and you have not been charged.</p>
    <p>Please try again later, or try different card details. If you continue to have issues, <a href="mailto:tootiefoodies@gmail.com">email us</a>.</p>
    <a href="/" class="btn">Continue home</a>
  </div>
</section>

<% include footer %>
