<% include header %>

  <h1>Something went wrong</h1>
  <p>We couldn't complete your order.</p>
  <p>Please check your payment details and try again.</p>
  <p>If you continue to have trouble, please contact us on EMAIL ADDRESS.</p>

<% include footer %>
