    <footer>
            <img src="/img/logo.svg"/>
      <p id="copyright">Contact us at <a href="mailto:tootiefoodies@gmail.com">tootiefoodies@gmail.com</a> | Designed in a hurry by <a href="http://joshuahackett.com">Joshua Hackett</a> | All profits from ticket sales will be donated to the Trussell Trust.</p>


    </footer>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="client.js"></script>
  </body>
</html>
