    <footer>
      <p>Contact us at <a href="#">email</a> | Design by <a href="http://joshuahackett.com">Joshua Hackett</a></p>
    </footer>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="client.js"></script>
  </body>
</html>
