<!DOCTYPE html>
<html>
  <head>
    <script src="https://checkout.stripe.com/checkout.js"></script>
    <title>Valentines' Extravagana</title>
    <link rel='stylesheet' href='/css/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Cabin|Roboto" rel="stylesheet">
  </head>
  <body>
