<!DOCTYPE html>
<html>
  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91311733-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-91311733-6');
    </script>
    <title>Valentines' Extravagana | Tootie Foodies Fund Team</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta property="fb:app_id" content="1134129026651501" />
    <meta property="og:site_name" content="Tootie Foodies' Valentines Extravaganza" />
    <meta property="og:description" content="No Valentines' Day plans? No problem! Come on down to the Civil Service Club for an evening of music, merriment and magic" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="/img/nick.jpg" />
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="Tootie Foodies' Valentines Extravaganza">
    <meta name="twitter:description" content="No Valentines' Day plans? No problem! Come on down to the Civil Service Club for an evening of music, merriment and magic">
    <meta name="twitter:image" content="/img/nick.jpg" >
    <link rel='stylesheet' href='/css/style.css' />
    <link href="https://fonts.googleapis.com/css?family=Abel|Rubik:700" rel="stylesheet">
  </head>
  <body>
