<% include header %>

    <!-- Hero section -->
    <section id="hero">
      <aside class="image" style="background-image: url('/img/nick.jpg')">
      </aside>
      <aside class="text">
        <h2>Tootie Foodies present</h2>
        <h1>Valentines' Magical Extravaganza</h1>
        <p>No Valentine’s Day plans? No problem!</p>
        <p>Come on down to the Civil Service Club for an evening of music, merriment and magic – with extra special guest, magic circle magician Nick Stein!</p>
        <p>We’re shaking things up this V-Day, and proving that you don’t need a date to still have a magical evening, with a magic show that will blow you away!</p>
        <a href="#tickets" id="ticket-link" class="btn">Buy tickets</a>
      </aside>

    </section>

    <!-- First sell -->
    <section class="sell">
      <aside class="image" style="background-image: url('/img/trussell2.jpg')">
      </aside>
      <aside class="text">
        <h3>Also featuring...</h3>
        <p>Listen up! Literally! We’ll be playing musical bingo, so be sure to listen out for the songs on your card to be in with a chance of winning the grand prize!</p>
        <p>Plus (as if all that wasn’t enough), you still might not go home empty handed thanks to our amazing raffle prizes!</p>
      </aside>
    </section>

    <!-- Second sell -->
    <section class="sell">
      <aside class="image" style="background-image: url('/img/trussell.jpg')">
      </aside>
      <aside class="text">
        <h3>For the Trussell Trust</h3>
        <p>All of our profits will be going to the Trussell Trust, who run a network of over 400 foodbanks, giving emergency food and support to people in crisis across the UK.</p>
      </aside>
    </section>

    <!-- Third sell -->
    <section class="sell">
      <aside class="image" style="background-image: url('/img/club.jpg')">
      </aside>
      <aside class="text">
        <h3>About the venue</h3>
        <p>The evening will be kicking off at 18:00 on Wednesday February 14th at the Civil Service Club, 13 - 15 Great Scotland Yard, London SW1A 2HJ.</p>
      </aside>
    </section>

    <!-- Buy tickets and share -->
    <section id="tickets">
      <h3>Buy tickets now</h3>
      <p>Tickets are £15 and can be purchased right here.</p>
      <p>Your ticket will also include a buffet dinner, so no need to book that table for one and pretend that your date is “stuck in traffic”.</p>
      <p>It’s going to be a fantastic night and we look forward to seeing you there!</p>

      <% include form %>

      <ul class="social">
      </ul>
    </section>

<% include footer %>
