<% include header %>

  <h1>Your order was successful</h1>
  <p>You have purchased X tickets for our Valentines' Extravaganza!</p>
  <p>We will send your e-tickets to EMAIL ADDRESS. Please check your spam box if these do not arrive promptly.</p>
  <p>We've recorded your details, but for speedy entry, please bring your email along to the event.</p>
  <p>If you have any questions, feel free to contact us on EMAIL ADDRESS.</p>

<% include footer %>
