* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style-type: none; }

h1, h2, h3, h4, h5 {
  font-family: Rubik, sans-serif;
  color: #3d5a6c; }

p {
  font-family: Abel, sans-serif;
  color: #433a3f; }

a.btn, button {
  display: inline-block;
  font-family: Rubik;
  letter-spacing: 4px;
  text-transform: uppercase;
  background-color: #72a98f;
  border: none;
  margin-top: 20px;
  padding: 15px;
  font-size: 0.8em;
  text-decoration: none;
  color: #efefef;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  cursor: pointer; }
  a.btn:hover, button:hover {
    -webkit-filter: brightness(1.1);
    filter: brightness(1.1);
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.4); }

footer {
  text-align: center;
  background-color: #efefef;
  padding: 25px 35px; }
  footer p {
    margin-top: 20px; }
    footer p a {
      color: #72a98f;
      text-decoration: none; }
      footer p a:hover {
        text-decoration: underline; }

section#hero aside.text {
  padding: 35px;
  background-color: #3d5a6c; }
  section#hero aside.text h1 {
    font-size: 2.6em;
    margin-bottom: 30px;
    color: #8de969;
    text-transform: uppercase; }
  section#hero aside.text h2 {
    font-size: 1.3em;
    color: #efefef;
    margin-bottom: 10px; }
  section#hero aside.text p {
    color: #efefef;
    margin-bottom: 10px;
    font-size: 1.1em; }

section.sell:nth-of-type(odd) aside.text {
  background-color: #3d5a6c; }

section.sell aside.image {
  height: 270px;
  background-position: center;
  background-size: cover; }

section.sell aside.text {
  background-color: #433a3f;
  padding: 35px; }
  section.sell aside.text h3 {
    text-transform: uppercase;
    color: #8de969;
    font-size: 1.5em;
    margin-bottom: 10px; }
  section.sell aside.text p {
    color: #efefef;
    font-size: 1.1em;
    margin-bottom: 10px; }

section#tickets {
  background-color: #3d5a6c;
  padding: 35px;
  color: #efefef; }
  section#tickets h3 {
    color: #8de969;
    text-transform: uppercase;
    margin-bottom: 20px;
    font-size: 2.3em;
    max-width: 400px;
    margin: 0px auto 20px auto; }
  section#tickets p {
    font-family: Abel, sans-serif;
    color: #efefef;
    font-size: 1.1em;
    margin-bottom: 10px;
    max-width: 400px;
    margin: 0px auto 10px auto; }
  section#tickets form {
    max-width: 400px;
    margin: 20px auto;
    text-align: left;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 3px;
    position: relative; }
    section#tickets form span#info {
      position: absolute;
      right: 20px;
      bottom: 20px;
      font-size: 0.8em;
      font-family: Abel, sans-serif;
      opacity: 0.3; }
      section#tickets form span#info a {
        color: #efefef; }
    section#tickets form label {
      font-family: Abel, sans-serif;
      font-size: 0.9em; }
    section#tickets form input {
      width: 100%;
      padding: 5px;
      border: 0.5px solid #efefef;
      border-radius: 3px;
      background-color: transparent;
      margin-top: 3px;
      margin-bottom: 15px;
      color: #efefef;
      font-family: Abel, sans-serif;
      font-size: 1em; }
    section#tickets form .StripeElement {
      width: 100%;
      padding: 7px;
      border: 0.5px solid #efefef;
      background-color: #efefef;
      border-radius: 3px;
      margin-top: 3px;
      margin-bottom: 10px;
      font-family: Abel, sans-serif;
      font-size: 1em; }

section.order-status {
  background-color: #3d5a6c;
  padding: 50px 35px; }
  section.order-status div.inner {
    max-width: 500px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    margin: 20px auto; }
  section.order-status h1 {
    color: #efefef;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 2em; }
  section.order-status h2 {
    color: #72a98f;
    text-transform: uppercase;
    margin-bottom: 20px; }
  section.order-status p {
    color: #efefef;
    margin-bottom: 10px; }
    section.order-status p a {
      color: #72a98f;
      text-decoration: none; }
      section.order-status p a:hover {
        text-decoration: underline; }

section#orders {
  font-family: Abel, sans-serif;
  margin: 20px; }
  section#orders h1 {
    font-size: 2.5em;
    margin-bottom: 10px; }
  section#orders h2 {
    font-size: 1.5em;
    margin-bottom: 0px; }
  section#orders a.btn {
    margin-bottom: 30px; }
  section#orders ul.labels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    font-family: Rubik, sans-serif;
    color: #3d5a6c; }
    section#orders ul.labels li {
      width: 25%;
      font-weight: 700; }
  section#orders ul.orders ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 10px 0px; }
    section#orders ul.orders ul:hover {
      background-color: rgba(0, 0, 0, 0.05); }
    section#orders ul.orders ul li {
      width: 25%; }

@media screen and (min-width: 700px) {
  section#hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    section#hero aside {
      width: 50%;
      height: 100vh; }
      section#hero aside.image {
        background-position: center;
        background-size: cover; }
      section#hero aside.text {
        padding: 45px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; }
  section#tickets h3, section#tickets p {
    text-align: center; }
  section#tickets form p {
    text-align: left; }
  section.sell {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row; }
    section.sell:nth-of-type(even) aside.image {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; }
    section.sell:nth-of-type(even) aside.text h3, section.sell:nth-of-type(even) aside.text p {
      margin-left: auto;
      text-align: right; }
    section.sell aside {
      width: 50%; }
      section.sell aside.image {
        min-height: 350px; }
      section.sell aside.text {
        padding: 45px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; } }
